In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from geopy.distance import geodesic
import seaborn as sns


school_data = pd.read_csv("./Datasets/with_schoolrank_train.csv")

ranking_data = pd.read_csv("./Datasets/schools_ranking.csv")

In [2]:
school_data.head()

,rent_approval_date,town,block,street_name,flat_type,flat_model,floor_area_sqm,furnished,lease_commence_date,latitude,...,elevation,subzone,planning_area,region,monthly_rent,best_school_1km,best_school_2km,best_school_3km,nearest_school_name,nearest_school_dis
0,2021-09,jurong east,257,Jurong East Street 24,3 room,new generation,67.0,yes,1983,1.344518,...,0.0,yuhua east,jurong east,west region,1600,Princess Elizabeth Primary School,Princess Elizabeth Primary School,Rulang Primary School,Yuhua Primary School,0.334495
1,2022-05,bedok,119,bedok north road,4-room,new generation,92.0,yes,1978,1.330186,...,0.0,bedok north,bedok,east region,2250,Red Swastika School,Red Swastika School,St. Hilda's Primary School,St. Anthony's Canossian Primary School,0.605547
2,2022-10,toa payoh,157,lorong 1 toa payoh,3-room,improved,67.0,yes,1971,1.332242,...,0.0,toa payoh central,toa payoh,central region,1900,CHIJ Primary (Toa Payoh),Pei Chun Public School,Catholic High School (Primary),CHIJ Primary (Toa Payoh),0.426187
3,2021-08,pasir ris,250,Pasir Ris Street 21,executive,apartment,149.0,yes,1993,1.370239,...,0.0,pasir ris drive,pasir ris,east region,2850,White Sands Primary School,East Spring Primary School,Chongzheng Primary School,Pasir Ris Primary School,0.562392
4,2022-11,kallang/whampoa,34,Whampoa West,3-room,improved,68.0,yes,1972,1.320502,...,0.0,bendemeer,kallang,central region,2100,Hong Wen School,Hong Wen School,Anglo-Chinese School (Junior),Bendemeer Primary School,0.271506

In [3]:
ranking_data.head()

   Rank                     School Name
0     1          Nanyang Primary School
1     2  Catholic High School (Primary)
2     3                  Tao Nan School
3     4          Nan Hua Primary School
4     5      St. Hilda's Primary School

In [8]:
df1_values_in_df2 = ranking_data['School Name'].isin(school_data['best_school_1km'])

unique_values_in_df1 = ranking_data.loc[~df1_values_in_df2, 'School Name']

unique_values_in_df1

0                         Nanyang Primary School
6                  Anglo-Chinese School (Junior)
7                  Raffles Girls' Primary School
15                Anglo-Chinese School (Primary)
19     Singapore Chinese Girls' School (Primary)
                         ...
180                     Northoaks Primary School
181                         Coral Primary School
182                       Da Qiao Primary School
183                    East Coast Primary School
184                     East View Primary School
Name: School Name, Length: 64, dtype: object

:

In [5]:
df1_values_in_df2 = school_data['best_school_1km'].isin(ranking_data['School Name'])

unique_values_in_df1 = school_data.loc[~df1_values_in_df2, 'nearest_school_name']

unique_values_in_df1

Series([], Name: nearest_school_name, dtype: object)

In [6]:
ranking_data[ranking_data['School Name'].duplicated()]

Empty DataFrame
Columns: [Rank, School Name]
Index: []